body {
  background-color: #222;
}

.App {
  text-align: center;
}

.App-header {
  height: 60px;
  padding: 20px;
  color: white;
  text-shadow: 1px 1px #777;
}

.App-title {
  font-size: 1.5em;
}

.editor {
  background-color: #222;
  color: #ccc;
  float: left;
  height: 400px;
  padding: 10px;
  width: 48%;
}

.tab {
  text-align: left;
  width: 100px;
  height: 20px;
  border: 1px solid gray;
  border-radius: 4px 4px 0 0;
  padding: 10px;
}

.editor textarea {
  background-color: #777;
  border: 1px solid gray;
  color: white;
  width: 100%;
  height: 100%;
  padding: 0px;
}

.inputs {
  display: block;
  height: 180px;
  position: absolute;
  bottom: 0px;
  margin: 20px;
  overflow-y: auto;
}

.preview {
  border: 1px solid gray;
  width: 100%;
  height: 100%;
  background-color: black;
  float: left;
  overflow: hidden;
}
